<!doctype html>
<html>
<%= partial 'head' %>
<body>
<%= partial 'header' %>

<div id="content">
  <article class="entry">
    <div class="entry-date">
      <h1><%= link_to current_article.title, current_article %></h1>
      <ul>
        <li class="entry-time"><%= current_article.date.strftime('%Y.%m.%e') %></li>
        <li class="entry-cat"><%= current_article.tags.map {|tag| link_to "#{slug_to_japanese(tag)}", tag_path(tag)}.join(', ').html_safe %></li>
        <li class="entry-author"><%= link_to current_article.data.authors, '/author/' + current_article.data.authors + '.html' %></li>
      </ul>
    </div>
    <div class="entry-author-image">
      <a href="<?php bloginfo('url'); ?>/author/<?php the_author_meta( user_login, $userID ); ?>"><?php echo get_avatar(get_the_author_id()) ?></a>
    </div>
    <div class="entry-body">
      <%= current_article.body %>
    </div>
  </article>
</div>

<%= partial 'footer' %>

</body>
</html>
