<!doctype html>
<html>
<%= partial 'head' %>
<body>
<%= partial 'header' %>

<div id="content">
  <article class="entry">
    <div class="entry-date">
      <h1><%= link_to current_article.title, current_article %></h1>
      <ul>
        <li class="entry-time"><%= current_article.date.strftime('%Y.%m.%e') %></li>
        <li class="entry-cat"><%= current_article.tags.map {|tag| link_to "#{slug_to_japanese(tag)}", tag_path(tag)}.join(', ').html_safe %></li>
        <li class="entry-author"><%= link_to current_article.data.authors, '/author/' + current_article.data.authors + '.html' %></li>
      </ul>
    </div>
    <div class="entry-author-image">
      <%
         author_data = author_info(current_article.data.authors)
         if !author_data.blank?
           author_thumbnail = author_data['thumbnail']
         else
           author_thumbnail = 'no-image.png'
         end
      %>
      <%= link_to "#{image_tag "authors/#{author_thumbnail}"}", "/author/#{current_article.data.authors}.html" %>
    </div>
    <div class="entry-body">
      <%= current_article.body %>
    </div>
  </article>
</div>

<%= partial 'footer' %>

</body>
</html>
