<head>
  <meta charset="utf-8">
  <title><%= current_page.data.title + ' | ' unless current_page.data.title.nil? %><%= data.site.name %></title>
  <% if is_blog_article? %>
      <meta name="description" content="<%= strip_tags(article_excerpt(current_article.body)).gsub(/(\r\n|\r|\n)/, '') %>">
      <link rel="canonical" href="<%= data.site.url %><%= current_article.url %>">
  <% else %>
      <meta name="description" content="<%= data.site.description %>">
      <link rel="canonical" href="<%= data.site.url %>">
  <% end %>
  <meta name="author" content="<%= data.site.name %>">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta property="og:title" content="<%= current_page.data.title + ' | ' unless current_page.data.title.nil? %><%= data.site.name %>">
  <% if is_blog_article? %>
      <meta property="og:description" content="<%= strip_tags(article_excerpt(current_article.body)).gsub(/(\r\n|\r|\n)/, '') %>">
      <meta property="og:url" content="<%= data.site.url %><%= current_article.url %>">
  <% else %>
      <meta property="og:description" content="<%= data.site.description %>">
      <meta property="og:url" content="<%= data.site.url %>">
  <% end %>
  <meta property="og:image" content="<%= data.site.url %>/images/<%= data.site.og_image %>">
  <meta property="og:type" content="blog">
  <meta property="og:site_name" content="<%= data.site.name %>">
  <meta property="og:site_url" content="<%= data.site.url %>">

  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="images/favicons/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png">

  <%= stylesheet_link_tag 'fftt' %>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "FFTT RSS Feed" %>
  <!--[if lt IE 9]>
  <script src="/js/polyfill.js"></script>
  <![endif]-->
  <!--

	88888    88888    888888    888888
	88       88         88        88
	88888    8888       88        88
	88       88         88        88
	88       88         88        88
______________________________________

  ―― May The Force Be With You ――
______________________________________

  -->
</head>
